body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* ================room page style===================  */

.room-image{
  background-image: url('../src/images/pic.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 
}

.image-primium{
  height: 100%;
}
.image-left{
  width: 100%;
  height: 250px;
}
.image-right{
  width: 100%;
  height: 350px;
}
